/* Common styles */
table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
table th{
  border-right: 1px solid white;
  border-bottom: 1px solid #7ea9d4;
}
table th:first-child{
  width: 50px;
}
table td {
  border-right: 1px solid #7ea9d4;
  border-bottom: 1px solid #7ea9d4;
}

/* table header */
.table-header{
  background-color: #79c0c1;
  font-family: Verdana, Arial, Sans-Serif;
  color: black;
  height: 40px;
}

/* table body */
tr.detail-row, .element-row {
  height: 0;
  background-color: #b8d2f0;
  color: black;
}
tr.element-row{
  border: 1px black;
}
.first-column{
  padding: 0;
  margin: 0;
}
.first-column img{
  width: 15px;
  height: 15px;
}

/* table expanded row */
.element-row td {
  border-bottom-width: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
  padding: 10px;
  border-top: 1px solid #7ea9d4;
  border-left: 1px solid #7ea9d4;
  border-right: 1px solid #7ea9d4;
}

/* table selected row */
.selected-row {
  background-color: white;
}
